__pycache__/
dpll_scaling
physicsat_c
walksat_scaling
composite_solver
ensemble_solver
walksat_scaling
new_paradigm
decimation_solver
sp_solver
sp_correct
three_ideas
why_fast
critical_solver
unsat_system
comp_indep
interference
cycle_struct
pendulum
iter_bypass
fractal
hard_geom
iter2flip
other_dims
complete_map
parallel
ghost_hunter
ghost_anat
iter_ghost
solved_study
wave_pat
reality_exp
feedback
surgery
meso_pattern
silent_wrong
phase_b
greedy_blind
convergence
nearest
recalc
overfit
tension_oracle
lt_split
crit_dyn
verify_anom
sel_eff
hybrid
ideal
ideal2
scout
convex
pure_grad
scbug
grad_long
newton
adam_inc
crystal_order
sp_v2
sp_v2_new
sp_v3
sp_v4
sp_below
sp_scale
sp_diag
sp_diag2
sp_diag3
sp_diag4
sp_diag5
sp_diag6
sp_diagnostic

# Compiled binaries
probsat
sp_hybrid
sp_probsat
sp_reinforced
sp_v2
sp_v2_new
sp_v3
sp_v4
sp_below
sp_scale
sp_diagnostic
why_probsat
four_approaches
sp100k
