__pycache__/
dpll_scaling
physicsat_c
walksat_scaling
composite_solver
ensemble_solver
walksat_scaling
new_paradigm
decimation_solver
sp_solver
sp_correct
three_ideas
why_fast
critical_solver
unsat_system
comp_indep
