__pycache__/
dpll_scaling
physicsat_c
walksat_scaling
composite_solver
ensemble_solver
walksat_scaling
new_paradigm
decimation_solver
sp_solver
sp_correct
three_ideas
why_fast
critical_solver
unsat_system
comp_indep
interference
cycle_struct
pendulum
iter_bypass
fractal
hard_geom
iter2flip
other_dims
complete_map
parallel
ghost_hunter
ghost_anat
iter_ghost
solved_study
wave_pat
reality_exp
feedback
surgery
meso_pattern
silent_wrong
phase_b
greedy_blind
convergence
